/bin/
/.cache/
/.gocache/
/.gotmp/
/.gomodcache/
/data/
/web/dist/*
/web/node_modules/
/web/.quasar/
/web/.pnpm-store/
/internal/webui/dist/
*.db
*.db-shm
*.db-wal
*.test
coverage.out
*.coverprofile
*.prof
